*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/*Header*/
header{
  width: 100vw;
  height: 100vh;
  background-color: #85ffdc;
  text-align: center;
}

header h1{
  font-weight: bold;
  font-size: 3em;
  padding: 10px;
}

/*Global styling*/
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*articles*/

article{
  width: 70vw;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

article h1{
  padding: 1em;
  text-align: center;
}

article p{
  padding: 1em;
}

#portrait > img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

article .skills{
  min-width: 200px;
  padding-top: 1em;
  padding-left: auto;
  padding-right: auto;
}

/*tiles*/

.tile{
  display: inline-block;
  width: 32%;
  text-align: center;
}
.tile > h1{
  font-size: 1.2em;
  padding-bottom: .5em;
}

.tile > p{
  font-size: .9em;
  margin: 0px;
  padding: 0px;
}
.tile img{
  max-width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Portfolio*/

.portfolio{
  background-color: #85ffdc;
  width: 100vw;
  min-height: 100vh;
}

.project{
  width: 70%;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ffffff;
}

.project > div > img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

article .description h3{
  padding-top: 1em;
  text-align: center;
}
