*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eff6e0;
    color: #01161e;
}
nav{
    background-color: #598392;
}

#about{
    padding-left: 15vw;
    padding-right: 15vw;
}
#about img{
    display:block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    margin-top:5vh;
    margin-bottom: 5vh;
}

#technologies{
    background-color: #598392;
    padding-left: 15vw;
    padding-right:15vw;
}

.tech{
    background-color: white;
    border-radius: 10px;
    height: 50%;
    width: 30%;
    text-align: center;
    margin: 2%;
    flex: 1 0 12%;
    box-shadow: 1px 1px 4px 6px #124559;
}

.webDev {
    border-top: 5px solid #dcdbd6;
}

.dataBase {
    border-top: 5px solid blue;
}

.language {
    border-top: 5px solid yellow;
}

.framework {
    border-top: 5px solid red;
}

#projects{
    background-color: #aec3b0;
    padding-left: 15vw;
    padding-right: 15vw;
}
.project{
    padding: 20px;
}
.project img{
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

a{
    color: inherit;
    text-decoration: none;
    text-align: center;
}
#contact a img{
    width: 50px;
}